<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <% @cocktail.doses.each do |dose| %>
        <div class="card-category"><%= dose.amount %></div>
        <% end %>
        <div class="card-description">
          <h2><%= @cocktail.name %></h2>
          <% @cocktail.doses.each do |dose| %>
          <p><%= dose.description %></p>
          <% end %>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">

        <%= link_to "", cocktail_path(@cocktail), class: "card-link" %>

      </div>
    </div>
  </div>
</div>




<ul>
  <% @cocktail.doses.each do |dose| %>
  <%= dose.description %> of <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %>
  <li><%= dose.description %> of <%= dose.ingredient.name %></li>
  <%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete %>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>

<% if @dose.errors.any? %>
<ul>
  <% @dose.errors.full_message.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<%= f.input :description, placeholder: "2 teaspoons" %>
<%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose One" %>
<%= f.submit "Add dose", class: "btn btn-primary" %>
<% end %>




